body {
    background: rgb(238, 234, 234);
    font-family: Verdana;

}

img {
    border-radius: 25px;
    border: 2px solid rgb(0, 0, 0);
    margin: 10px;
}

#imagem_topo {
    height: 200px;
}

.imagem_codigo {
    height: 350px;
    margin: 0;
}

#titulo,
.subtitulo,
.titulo_post,
footer {
    color: rgb(63, 63, 70);
    margin: 10px;
}

.titulo_post {
    font-size: 16px;
    font-style: italic;
    margin: 10px;
}

.post {
    background: white;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 25px;
}

.paragrafo{
    margin: 0;
    text-transform:capitalize;
}
a {
    text-decoration: dashed;
    color: rgb(63, 63, 70);
}